@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v35/TK3_WkUHHAIjg75cFRf3bXL8LICs13FvgUE.ttf) format('truetype');
}
.sombra-caja {
  box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.5);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: #333333;
  line-height: 28px;
}
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 0;
  color: red;
}
header {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3e4f82+0,585d84+16,1a2add+39,3571ff+58,8b8eaf+69,373b77+88,111721+94,111721+94,111721+100 */
  background: #3e4f82;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #3e4f82 0%, #585d84 16%, #1a2add 39%, #3571ff 58%, #8b8eaf 69%, #373b77 88%, #111721 94%, #111721 94%, #111721 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e4f82', endColorstr='#111721', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  position: relative;
}
header h1 {
  margin-left: 20px ;
  padding-top: 20px;
  padding-bottom: 20px ;
}
header a {
  background-color: white;
  padding: 10px 30px;
  margin: 0 auto;
  position: absolute;
  right: 30px;
  top: 10px;
  line-height: unset;
}
.intro {
  width: 1240px;
  height: 650px;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  background-color: white;
  box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.5);
}
.intro__imagen {
  width: 1220px;
  position: absolute;
}
.intro__imagen img {
  width: 100%;
  height: 624px;
  object-fit: cover;
}
.intro__contenido {
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
}
.intro__categoria {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.5);
}
.intro__titulo {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 70px;
  margin-top: 30px;
}
.intro__autor {
  width: 250px;
  margin: 0 auto;
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  color: white;
  line-height: unset;
}
.intro__autor img {
  width: 60px;
  height: 50px;
  float: left;
  padding-right: 10px;
  border-radius: 10em;
}
.intro__autor span {
  display: inline-block;
  font-size: 20px;
  line-height: unset;
}
.intro__autor-titulo {
  color: rgba(255, 255, 255, 0.5);
  line-height: unset;
}
.articulo--principal {
  max-width: 800px;
  margin: 0 auto;
}
.articulo--principal h2 {
  margin: 40px 0;
  font-size: 50px;
  text-align: center;
}
.articulo--principal h3 {
  color: blue;
}
.contenedor--cajas {
  width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.contenedor--cajas .caja {
  margin: 25px;
  box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.5);
}
.contenedor--cajas .caja__imagen img {
  height: 200px;
}
.contenedor--cajas .caja__contenido {
  padding: 25px;
  background-color: white;
}
.contenedor--cajas .caja h3 {
  color: red;
}
footer {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3e4f82+0,585d84+16,1a2add+39,3571ff+58,8b8eaf+69,373b77+88,111721+94,111721+94,111721+100 */
  background: #3e4f82;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #3e4f82 0%, #585d84 16%, #1a2add 39%, #3571ff 58%, #8b8eaf 69%, #373b77 88%, #111721 94%, #111721 94%, #111721 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e4f82', endColorstr='#111721', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  justify-content: space-between;
  display: flex;
}
footer h1 {
  margin-left: 20px ;
  padding-top: 20px;
  padding-bottom: 20px ;
}
footer ul {
  margin-right: 40px;
  margin-top: 24px;
}
footer li {
  color: white;
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}
