-var titulo = "Sub-titulo Principal"

-var titulos = ["Titulo Principal","Personajes","Armas","Bosses","Sub-titulo Principal 4"] 

-var titulos2 = ["Titulo Principal"] 
//--var usuario = ["Maria","Gonzalez"]-//

-var enlaces=["Acerca", "noticias", "contacto"]
-var TituloP = "HECTORGAMES" 

mixin caja(imagen, titulo, contenido) 
   .caja
      .caja__imagen: img(src="images/" + imagen)
      .caja__contenido
        h3=titulo
        p=contenido
        